.trash-page {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.todo-trash-list {
  width: 100%;
  margin: auto;
  justify-content: center;
  padding: 0;
  list-style-type:none
}

.todo-item-trash {
  display: flex;
  margin: 20px auto;
  width: 90%;
  justify-content: space-around;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
  background: rgb(150, 228, 238) !important;
  border-radius: 10px;
  align-items: center;
}

.text-todo-delete {
  width: 90%;
  padding-left: 20px;
}